<section id="social-pane" class="row text-center social">
  <h4>Social</h4>
  {{ with .Site.Params.social.twitter }}
  <a href="https://twitter.com/{{.}}"><i class="fa fa-2x  fa-twitter" aria-hidden="true"></i></a>
  {{ end }}

  {{ with .Site.Params.social.facebook }}
  <a href="https://facebook.com/{{.}}"><i class="fa fa-2x  fa-facebook" aria-hidden="true"></i></a>
  {{ end }}

  {{ with .Site.Params.social.instagram }}
  <a href="https://instagram.com/{{.}}"><i class="fa fa-2x  fa-instagram" aria-hidden="true"></i></a>
  {{ end }}

  <br>
  <h4>Content</h4>


  {{ with .Site.Params.social.medium}}
  <a href="https://medium.com/{{.}}"><i class="fa fa-2x  fa-medium" aria-hidden="true"></i></a>
  {{ end }}

  {{ with .Site.Params.social.github }}
  <a href="https://github.com/{{.}}"><i class="fa fa-2x  fa-github" aria-hidden="true"></i></a>
  {{ end }}



  {{ with .Site.Params.social.instagram }}
  <a href="https://instagram.com/{{.}}"><i class="fa fa-2x  fa-youtube" aria-hidden="true"></i></a>
  {{ end }}


  <br>
  <h4>Network</h4>

  {{ with .Site.Params.social.angellist}}
  <a href="https://angel.co/{{.}}"><i class="fa fa-2x  fa-angellist" aria-hidden="true"></i></a>
  {{ end }}

  {{ with .Site.Params.social.linkedin }}
  <a href="https://linkedin.com/in/{{.}}"><i class="fa fa-2x  fa-linkedin" aria-hidden="true"></i></a>
  {{ end }}

  {{ with .Site.Params.social.stackoverflow }}
  <a href="https://stackoverflow.com/users/{{.}}"><i class="fa fa-2x  fa-stack-overflow" aria-hidden="true"></i></a>
  {{ end }}

  {{ with .Site.Params.social.devto}}
  <a href="https://dev.to/{{.}}"><i class="fa fa-2x  fa-terminal" aria-hidden="true"></i></a>
  {{ end }}


  {{ with .Site.Params.social.xing }}
  <a href="https://www.xing.com/profile/{{.}}"><i class="fa fa-2x  fa-xing" aria-hidden="true"></i></a>
  {{ end }}

  {{ with .Site.Params.social.google }}
  <a href="https://plus.google.com/{{.}}/about"><i class="fa fa-2x  fa-google-plus-official" aria-hidden="true"></i></a>
  {{ end }}
  <br>
  <h4>Contact</h4>
  <a href="mailto:jasonrigden@gmail.com"><i class="fa fa-2x  fa-envelope-o" aria-hidden="true"></i></a>
</section>
